{% load static %}
<br>
<div class="header-navigation-content">
  <h1 style="text-align: center;color:rgb(232, 107, 4)">FEATURED PRODUCTS</h1>
  <div class="row">
    {% for product in featured_product %}
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <a href=""><img src="{{ product.image.url }}" class="img-responsive"
              alt="Berry Lace Dress"></a>
        </div>
        <h3><a href="">{{ product.title }}</a></h3>
        <div class="pi-price"><i class="fa fa-inr"></i> {{ product.price }}</div>
        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
      </div>
    </div>
{% endfor %}
  </div>
  <br><br><br><br>
  <h1 style="text-align: center;color:rgb(232, 107, 4)">LATEST PRODUCTS</h1>
  <div class="row">
    {% for product in latest_product %}
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <a href=""><img src="{{ product.image.url }}" class="img-responsive"
              alt="Berry Lace Dress"></a>
        </div>
        <h3><a href="">{{ product.title }}</a></h3>
        <div class="pi-price"><i class="fa fa-inr"></i> {{ product.price }}</div>
        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
      </div>
    </div>
{% endfor %}

  </div>
</div>
<br>