{% load static %}

<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="col-md-1 col-sm-5">
         
          
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-7">
          <div class="product-page">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-main-image">
                  <img src="{{ product.image.url }}" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="{{ product.image.url }}">
                </div>
                <div class="product-other-images">
                  
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <h1>{{ product.title }}</h1>
                <div class="price-availability-block clearfix">
                  <div class="price">
                    <strong><span> <i class="fa fa-inr"></i></span> {{ product.price }}</strong>
                   
                    
                  </div>
                  <div class="availability">
                    Availability: <strong>In Stock</strong>
                  </div>
                </div>
                <div class="description">
                  <p>{{product.description }}</p>
                </div>
                <div class="product-page-options">
                  <div class="pull-left">
                    <label class="control-label">Size:</label>
                    <select class="form-control input-sm">
                      <option>L</option>
                      <option>M</option>
                      <option>XL</option>
                    </select>
                  </div>
                  <div class="pull-left">
                    <label class="control-label">Color:</label>
                    <select class="form-control input-sm">
                      <option>Red</option>
                      <option>Blue</option>
                      <option>Black</option>
                    </select>
                  </div>
                </div>
                <div class="product-page-cart">
                  <div class="product-quantity">
                      <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                  </div>
                  <button class="btn btn-primary" type="submit">Add to cart</button>
                </div>
                
                <ul class="social-icons">
                  
                </ul>
              </div>

              <div class="product-page-content">
                
                
              </div>

              <div class="sticker sticker-sale"></div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->

     
    </div>
  </div>